version: 2

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "18:00"
  cooldown:
    default-days: 4
  open-pull-requests-limit: 10
  groups:
    sanity:
      patterns:
        - "sanity"
        - "@sanity/vision"
        - "groq"
        - "@sanity/client"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-patch"]
