name: Oppdater testsett
on:
  workflow_dispatch:

jobs:
  oppdater-testsett:
    runs-on: ubuntu-20.04
    name: Oppdater testsett manuelt
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # ratchet:actions/checkout@v3

      - name: Install dependencies
        run: |
          yarn --prefer-offline --frozen-lockfile --ignore-scripts

      - name: Export prod dataset
        run: |
          SANITY_AUTH_TOKEN="${{ secrets.SANITY_VIEWER_TOKEN }}" \
          npx sanity dataset export \
          production backups/baks-soknad-prod.tar.gz

      - name: Import prod dataset til test
        run: |-
          SANITY_AUTH_TOKEN="${{ secrets.SANITY_WRITE_TOKEN }}" \
          npx sanity dataset import \
          backups/baks-soknad-prod.tar.gz test --replace
